# DJANGO
DEBUG=0
SECRET_KEY=some-security-key
DJANGO_ALLOWED_HOSTS=some-domain-name-or-ip

# API AUTH
BEARER_TOKEN=twitter-bearer-token
ACADEMIC_BEARER_TOKEN=twitter-bearer-token-for-academic-research
SPREADSHEET_ID=google-spreadsheet-id
